.p-Home.Flex7 {
display: flex;
flex-direction: row;
margin-top: 100px;
padding-left: ;
margin-left: 90px;
margin-right: ;
width: 80%;
padding-right: ;
height: ;
padding-bottom: 100px;
}
.p-Home.Div16 {
width: 70%;
align-self: auto;
word-wrap: normal;
display: ;
height: 100%;
overflow: visible;
background-clip: border-box;
-webkit-background-clip: border-box;
background-attachment: scroll;
float: none;
}
.p-Home.Flex65 {
display: flex;
width: 30%;
}
.p-Home.Div21 {
;
}
.p-Home.Div22 {
padding-top: 80px;
padding-bottom: 80px;
margin-left: 200px;
margin-right: 200px;
align-self: stretch;
}
.p-Home.Div23 {
;
}
.p-Home.Div24 {
;
}
.p-Home.Flex8 {
display: flex;
justify-content: space-between;
margin-top: 40px;
align-items: center;
flex-direction: row;
align-self: center;
width: 100%;
align-content: flex-start;
row-gap: ;
column-gap: ;
flex-wrap: nowrap;
}
.p-Home.Div28 {
;
}
.p-Home.Div29 {
padding-top: 80px;
padding-bottom: 80px;
margin-left: 94px;
margin-right: 94px;
}
.p-Home.Div30 {
margin-top: 20px;
margin-bottom: 110px;
width: ;
height: ;
display: ;
visibility: visible;
overflow: visible;
box-sizing: content-box;
text-align: left;
word-wrap: break-word;
}
.p-Home.Flex11 {
display: flex;
align-items: center;
justify-content: center;
}
.p-Home.Flex12 {
display: flex;
justify-content: center;
}
.p-Home.Flex17 {
display: flex;
justify-content: space-between;
flex-direction: row;
align-items: flex-start;
align-content: flex-start;
align-self: auto;
}
.p-Home.Div47 {
margin-right: ;
width: 33%;
}
.p-Home.Div50 {
;
}
.p-Home.Div48 {
margin-right: 30px;
width: 33%;
padding-left: ;
padding-right: ;
margin-left: 30px;
}
.p-Home.Div51 {
;
}
.p-Home.Div49 {
width: 33%;
padding-left: ;
}
.p-Home.Div52 {
;
}
.p-Home.Div53 {
;
}
.p-Home.Div54 {
padding-top: 80px;
margin-left: 94px;
margin-right: 94px;
outline-color: #926666;
}
.p-Home.Div56 {
;
}
.p-Home.Flex18 {
display: flex;
}
.p-Home.Div60 {
width: 50%;
}
.p-Home.Flex19 {
display: flex;
width: 50%;
flex-direction: row-reverse;
align-items: center;
}
.p-Home.Div62 {
padding-top: 65px;
margin-left: 94px;
padding-right: ;
margin-right: 94px;
padding-bottom: 80px;
color: #fdfafa;
}
.p-Home.Flex20 {
display: flex;
align-items: center;
justify-content: flex-start;
height: ;
flex-direction: row;
align-content: stretch;
align-self: auto;
overflow: visible;
box-sizing: inherit;
}
.p-Home.Flex47 {
display: flex;
align-items: flex-end;
justify-content: space-between;
padding-left: 0px;
padding-right: ;
font-family: IBM Plex Sans;
font-size: 18px;
margin-top: ;
padding-bottom: ;
padding-top: 40px;
flex-direction: row;
align-content: stretch;
align-self: auto;
margin-left: 85px;
margin-right: 85px;
}
.p-Home.Flex44 {
display: flex;
}
.p-Home.Flex40 {
display: flex;
}
.p-Home.Flex41 {
display: none;
}
.p-Home.Flex50 {
display: flex;
}
.p-Home.Flex46 {
display: flex;
align-items: center;
justify-content: center;
}
.p-Home.Flex43 {
display: flex;
column-gap: 30px;
color: #1F2937;
font-family: IBM Plex Sans;
font-weight: 500;
flex-direction: row;
padding-left: ;
padding-right: ;
}
.p-Home.Flex45 {
display: flex;
align-items: center;
column-gap: 10px;
width: ;
justify-content: flex-end;
padding-left: 0px;
padding-right: 0px;
margin-left: ;
margin-right: 0px;
}
.p-Home.Menu7 {
display: none;
}
.p-Home.Flex39 {
display: flex;
}
.p-Home.Div63 {
padding-top: 200px;
margin-top: ;
background-color: #000000;
margin-bottom: 0px;
background-clip: padding-box;
-webkit-background-clip: padding-box;
height: ;
}
.p-Home.Flex53 {
display: flex;
padding-top: 80px;
margin-left: 94px;
margin-right: 94px;
padding-left: ;
padding-bottom: 80px;
margin-bottom: 80px;
}
.p-Home.Div65 {
width: 45%;
background-attachment: scroll;
background-origin: content-box;
background-clip: text;
-webkit-background-clip: text;
position: sticky;
overflow: auto;
float: none;
word-wrap: initial;
padding-right: ;
background-position-y: ;
background-position-x: ;
height: 350px;
align-self: auto;
cursor: auto;
top: 20px;
margin-bottom: ;
padding-bottom: ;
}
.p-Home.Div66 {
width: 55%;
box-sizing: content-box;
overflow: auto;
background-clip: padding-box;
-webkit-background-clip: padding-box;
color: #ffffff00;
padding-left: ;
margin-left: ;
text-align: left;
padding-top: 40px;
padding-bottom: 80px;
}
.p-Home.Div67 {
cursor: pointer;
}
.p-Home.Div69 {
cursor: pointer;
padding-top: ;
margin-top: 50px;
}
.p-Home.Div70 {
cursor: pointer;
padding-top: ;
margin-top: 50px;
}
.p-Home.Div71 {
cursor: pointer;
padding-top: ;
margin-top: 50px;
}
.p-Home.Div72 {
cursor: pointer;
padding-top: ;
margin-top: 50px;
}
.p-Home.Div73 {
height: ;
}
.p-Home.Flex54 {
display: flex;
padding-top: 80px;
margin-left: 94px;
margin-right: 94px;
padding-bottom: 80px;
}
.p-Home.Div74 {
width: 50%;
}
.p-Home.Div75 {
width: 50%;
outline-style: ;
}
.p-Home.Flex55 {
display: flex;
margin-left: 94px;
margin-right: 94px;
margin-bottom: ;
padding-bottom: 80px;
}
.p-Home.Div76 {
width: 30%;
margin-right: ;
}
.p-Home.Div77 {
width: 40%;
margin-right: ;
}
.p-Home.Flex56 {
display: flex;
flex-direction: column;
width: 30%;
align-items: flex-end;
justify-content: space-between;
align-content: stretch;
margin-left: ;
}
.p-Home.Div81 {
;
}
.p-Home.Flex57 {
display: flex;
padding-top: 80px;
margin-left: 95px;
margin-right: 95px;
padding-bottom: 80px;
justify-content: space-between;
}
.p-Home.Flex58 {
display: flex;
width: 48%;
flex-direction: column;
}
.p-Home.Div85 {
margin-bottom: ;
padding-bottom: 30px;
border-bottom-color: #686767ff;
border-bottom-width: 1px;
border-bottom-style: solid;
height: ;
}
.p-Home.Flex66 {
display: flex;
flex-direction: row;
width: ;
height: ;
}
.p-Home.Div88 {
width: 70%;
}
.p-Home.Flex67 {
display: flex;
flex-direction: column;
width: 30%;
align-items: flex-end;
justify-content: space-between;
align-content: stretch;
height: ;
}
.p-Home.Flex62 {
display: flex;
margin-bottom: 80px;
align-items: center;
justify-content: flex-start;
}
.p-Home.Div118 {
margin-bottom: ;
padding-bottom: 30px;
border-bottom-color: #686767ff;
border-bottom-width: 1px;
border-bottom-style: solid;
height: ;
margin-top: 30px;
}
.p-Home.Flex106 {
display: flex;
flex-direction: row;
width: ;
height: ;
}
.p-Home.Flex105 {
display: flex;
flex-direction: column;
width: 30%;
align-items: flex-end;
justify-content: space-between;
align-content: stretch;
height: ;
}
.p-Home.Div117 {
width: 70%;
}
.p-Home.Div120 {
margin-bottom: ;
padding-bottom: 30px;
border-bottom-color: #686767ff;
border-bottom-width: 1px;
border-bottom-style: solid;
height: ;
margin-top: 30px;
}
.p-Home.Flex108 {
display: flex;
flex-direction: row;
width: ;
height: ;
}
.p-Home.Flex107 {
display: flex;
flex-direction: column;
width: 30%;
align-items: flex-end;
justify-content: space-between;
align-content: stretch;
height: ;
}
.p-Home.Div119 {
width: 70%;
}
.p-Home.Flex59 {
display: flex;
width: 48%;
flex-direction: column;
}
.p-Home.Div86 {
margin-bottom: 80px;
}
.p-Home.Div87 {
;
}
.p-Home.Flex90 {
display: flex;
padding-bottom: 30px;
border-bottom-color: #686767ff;
border-bottom-width: 1px;
border-bottom-style: solid;
}
.p-Home.Flex89 {
display: flex;
flex-direction: row;
width: 100%;
height: ;
}
.p-Home.Flex110 {
display: flex;
flex-direction: row;
width: 100%;
height: ;
}
.p-Home.Flex109 {
display: flex;
flex-direction: column;
width: 30%;
align-items: flex-end;
justify-content: space-between;
align-content: stretch;
height: ;
}
.p-Home.Div121 {
width: 70%;
}
.p-Home.Flex116 {
display: flex;
padding-bottom: 30px;
border-bottom-color: #686767ff;
border-bottom-width: 1px;
border-bottom-style: solid;
margin-top: 30px;
}
.p-Home.Flex115 {
display: flex;
flex-direction: row;
width: 100%;
height: ;
}
.p-Home.Flex114 {
display: flex;
flex-direction: row;
width: 100%;
height: ;
}
.p-Home.Div123 {
width: 50%;
}
.p-Home.Flex113 {
display: flex;
flex-direction: column;
width: 50%;
align-items: flex-end;
justify-content: space-between;
align-content: stretch;
height: ;
}
.p-Home.Flex120 {
display: flex;
padding-bottom: 30px;
border-bottom-color: #686767ff;
border-bottom-width: 1px;
border-bottom-style: solid;
margin-top: 30px;
}
.p-Home.Flex119 {
display: flex;
flex-direction: row;
width: 100%;
height: ;
}
.p-Home.Flex118 {
display: flex;
flex-direction: row;
width: 100%;
height: ;
}
.p-Home.Div124 {
width: 50%;
}
.p-Home.Flex117 {
display: flex;
flex-direction: column;
width: 50%;
align-items: flex-end;
justify-content: space-between;
align-content: stretch;
height: ;
}
.p-Home.Div127 {
;
}
.p-Home.Div131 {
padding-top: 80px;
margin-left: 94px;
margin-right: 94px;
outline-color: #926666;
}
.p-Home.Div133 {
;
}
.p-Home.Flex132 {
display: flex;
margin-left: 94px;
margin-right: 94px;
padding-top: 80px;
margin-bottom: ;
padding-bottom: 160px;
}
.p-Home.Div137 {
width: 40%;
}
.p-Home.Flex133 {
display: flex;
width: 60%;
flex-direction: column;
justify-content: space-between;
padding-left: 50px;
}
.p-Home.Div139 {
width: ;
}
.p-Home.Div140 {
width: 70%;
}
.p-Home.Flex135 {
display: flex;
position: absolute;
background-attachment: scroll;
background-origin: padding-box;
background-clip: border-box;
-webkit-background-clip: border-box;
float: none;
right: 66px;
}
.p-Home.Div141 {
background-color: #000000;
}
.p-Home.Flex141 {
display: flex;
flex-direction: column;
align-items: center;
padding-top: 80px;
margin-left: 94px;
margin-right: 94px;
margin-bottom: 120px;
}
.p-Home.Flex143 {
display: flex;
margin-left: 94px;
margin-right: 94px;
padding-bottom: 90px;
}
.p-Home.Flex145 {
display: flex;
width: 50%;
flex-direction: column;
}
.p-Home.Menu13 {
display: none;
}
.p-Home.Flex147 {
display: flex;
}
.p-Home.Flex146 {
display: flex;
width: 50%;
flex-direction: column;
}
.p-Home.Flex149 {
display: flex;
padding-top: 160px;
margin-left: 94px;
margin-right: 94px;
padding-bottom: 20px;
flex-direction: column;
}
.p-Home.Flex150 {
display: flex;
flex-direction: column;
}
.p-Home.Flex151 {
display: flex;
margin-top: 80px;
}
.p-Home.Flex152 {
display: flex;
width: 50%;
flex-direction: column;
}
.p-Home.Flex153 {
display: flex;
width: 50%;
flex-direction: row;
align-items: stretch;
justify-content: flex-start;
}
.p-Home.Flex156 {
display: flex;
width: 50%;
flex-direction: column;
align-items: stretch;
justify-content: space-around;
height: 200px;
}
.p-Home.Flex160 {
display: flex;
width: 50%;
flex-direction: column;
align-items: stretch;
justify-content: space-around;
height: 200px;
}
.p-Home.Flex161 {
display: flex;
width: 50%;
flex-direction: column;
align-items: stretch;
justify-content: space-around;
height: 200px;
}
.p-Home.Div146 {
margin-top: 160px;
}
.p-Home.TextBox8 {
font-family: IBM Plex Sans;
font-weight: 400;
margin-top: 25px;
margin-bottom: 25px;
}
.p-Home.TextBox9 {
align-self: flex-start;
overflow: visible;
box-sizing: border-box;
background-origin: padding-box;
font-size: 60px;
text-align: left;
word-wrap: normal;
font-family: IBM Plex Sans;
font-weight: 600;
}
.p-Home.Button7 {
color: #fff;
background-color: #1890ff;
padding-top: 8px;
padding-left: 15px;
padding-bottom: 8px;
padding-right: 15px;
font-size: 16px;
border-radius: 2px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #1890ff;
cursor: pointer;
user-select: none;
}
.p-Home.Button8 {
color: #fff;
background-color: #1890ff;
padding-top: 8px;
padding-left: 15px;
padding-bottom: 8px;
padding-right: 15px;
font-size: 16px;
border-radius: 2px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #1890ff;
cursor: pointer;
user-select: none;
margin-right: 50px;
}
.p-Home.Image4 {
height: ;
align-self: flex-start;
overflow: visible;
text-align: left;
word-wrap: normal;
background-clip: border-box;
-webkit-background-clip: border-box;
background-attachment: scroll;
position: static;
width: 100%;
}
.p-Home.TextBox10 {
align-self: auto;
text-align: center;
font-family: IBM Plex Sans;
font-weight: 400;
font-size: 20px;
}
.p-Home.Image5 {
width: 20%;
height: ;
}
.p-Home.Image6 {
width: 20%;
height: 10%;
}
.p-Home.Image7 {
height: ;
width: 20%;
}
.p-Home.Image8 {
height: ;
width: 20%;
align-self: auto;
}
.p-Home.TextBox12 {
font-size: 50px;
text-align: center;
width: ;
font-family: IBM Plex Sans;
font-weight: 600;
}
.p-Home.TextBox13 {
align-self: center;
font-family: IBM Plex Sans;
font-weight: 600;
font-size: 25px;
padding-top: 0px;
padding-right: ;
word-wrap: normal;
border-style: ;
outline-width: ;
line-height: ;
background-repeat: repeat;
position: static;
float: none;
cursor: alias;
color: #f27f51;
}
.p-Home.Image10 {
;
}
.p-Home.TextBox16 {
font-family: IBM Plex Sans;
font-weight: 600;
font-size: 25px;
margin-top: 42px;
margin-bottom: 20px;
}
.p-Home.TextBox18 {
font-family: IBM Plex Sans;
font-weight: 400;
margin-bottom: 25px;
width: 76%;
line-height: 26px;
}
.p-Home.UnorderedList1 {
font-family: IBM Plex Sans;
font-weight: 600;
font-size: 18px;
display: flex;
visibility: visible;
align-content: stretch;
align-self: auto;
overflow: visible;
box-sizing: content-box;
}
.p-Home.Image11 {
height: 65px;
}
.p-Home.TextBox17 {
font-family: IBM Plex Sans;
font-weight: 600;
font-size: 25px;
margin-top: 42px;
margin-bottom: 20px;
}
.p-Home.TextBox19 {
font-family: IBM Plex Sans;
font-weight: 400;
margin-bottom: 25px;
width: 76%;
line-height: 26px;
}
.p-Home.UnorderedList2 {
font-family: IBM Plex Sans;
font-weight: 600;
font-size: 18px;
border-color: ;
border-bottom-width: ;
border-bottom-style: ;
}
.p-Home.Image13 {
;
}
.p-Home.TextBox20 {
font-family: IBM Plex Sans;
font-weight: 600;
font-size: 25px;
margin-top: 42px;
margin-bottom: 20px;
}
.p-Home.TextBox21 {
font-family: IBM Plex Sans;
font-weight: 400;
margin-bottom: 25px;
width: 76%;
line-height: 26px;
}
.p-Home.UnorderedList3 {
font-family: IBM Plex Sans;
font-weight: 600;
font-size: 18px;
}
.p-Home.TextBox24 {
font-size: 25px;
font-family: IBM Plex Sans;
font-weight: 600;
border-color: ;
background-color: ;
color: #ff8116ff;
outline-color: ;
outline-style: ;
word-wrap: normal;
line-height: ;
}
.p-Home.TextBox25 {
font-size: 54px;
font-family: IBM Plex Sans;
font-weight: 600;
background-position-y: ;
background-position-x: ;
color: #000000;
}
.p-Home.Button9 {
color: #fff;
background-color: #1890ff;
padding-top: 8px;
padding-left: 15px;
padding-bottom: 8px;
padding-right: 15px;
font-size: 16px;
border-radius: 2px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #1890ff;
cursor: pointer;
user-select: none;
height: 40px;
}
.p-Home.Carousel9 {
height: 300px;
width: 400px;
}
.p-Home.Image19 {
width: ;
cursor: pointer;
}
.p-Home.Image20 {
width: ;
}
.p-Home.About {
cursor: pointer;
font-family: IBM Plex Sans;
font-weight: 600;
}
.p-Home.Services {
cursor: pointer;
font-family: IBM Plex Sans;
font-weight: 600;
}
.p-Home.Blogs {
cursor: pointer;
font-family: IBM Plex Sans;
font-weight: 600;
}
.p-Home.Projects {
cursor: pointer;
font-family: IBM Plex Sans;
font-weight: 600;
}
.p-Home.Call {
cursor: pointer;
font-family: IBM Plex Sans;
font-weight: 600;
}
.p-Home.TextBox41 {
;
}
.p-Home.TextBox42 {
;
}
.p-Home.TextBox43 {
;
}
.p-Home.TextBox44 {
;
}
.p-Home.TextBox63 {
word-wrap: inherit;
color: #e59931;
font-size: 30px;
font-family: IBM Plex Sans;
font-weight: 600;
line-height: ;
padding-right: ;
float: none;
clear: none;
}
.p-Home.TextBox67 {
cursor: pointer;
font-family: IBM Plex Sans;
font-weight: 400;
word-wrap: inherit;
color: #ffffff;
font-size: 20px;
}
.p-Home.TextBox68 {
color: #ffffff;
font-size: 58px;
font-family: IBM Plex Sans;
font-weight: 600;
margin-top: 10px;
margin-bottom: 15px;
}
.p-Home.TextBox74 {
color: #d5d0d0;
font-size: 16px;
font-family: IBM Plex Sans;
font-weight: normal;
border-color: ;
}
.p-Home.TextBox75 {
color: #ffffff;
font-size: 30px;
font-family: IBM Plex Sans;
font-weight: 600;
margin-top: 20px;
margin-bottom: 20px;
text-align: left;
}
.p-Home.TextBox76 {
color: #ffffff;
font-size: 20px;
font-family: IBM Plex Sans;
font-weight: 400;
margin-top: 10px;
margin-bottom: ;
padding-bottom: 20px;
border-bottom-width: 1px;
border-bottom-style: solid;
border-bottom-color: #a59d9d;
}
.p-Home.TextBox80 {
color: #ffffff;
font-size: 20px;
font-family: IBM Plex Sans;
font-weight: 400;
margin-top: 10px;
margin-bottom: ;
padding-bottom: 20px;
border-bottom-width: 1px;
border-bottom-style: solid;
border-bottom-color: #a59d9d;
}
.p-Home.TextBox81 {
color: #ffffff;
font-size: 30px;
font-family: IBM Plex Sans;
font-weight: 600;
margin-top: 20px;
margin-bottom: 20px;
}
.p-Home.TextBox82 {
color: #d5d0d0;
font-size: 16px;
font-family: IBM Plex Sans;
font-weight: normal;
border-color: ;
}
.p-Home.TextBox83 {
color: #ffffff;
font-size: 20px;
font-family: IBM Plex Sans;
font-weight: 400;
margin-top: 10px;
margin-bottom: ;
padding-bottom: 20px;
border-bottom-width: 1px;
border-bottom-style: solid;
border-bottom-color: #a59d9d;
}
.p-Home.TextBox84 {
color: #ffffff;
font-size: 30px;
font-family: IBM Plex Sans;
font-weight: 600;
margin-top: 20px;
margin-bottom: 20px;
}
.p-Home.TextBox85 {
color: #d5d0d0;
font-size: 16px;
font-family: IBM Plex Sans;
font-weight: normal;
border-color: ;
}
.p-Home.TextBox86 {
color: #ffffff;
font-size: 20px;
font-family: IBM Plex Sans;
font-weight: 400;
margin-top: 10px;
margin-bottom: ;
padding-bottom: 20px;
border-bottom-width: 1px;
border-bottom-style: solid;
border-bottom-color: #a59d9d;
}
.p-Home.TextBox87 {
color: #ffffff;
font-size: 30px;
font-family: IBM Plex Sans;
font-weight: 600;
margin-top: 20px;
margin-bottom: 20px;
}
.p-Home.TextBox88 {
color: #d5d0d0;
font-size: 16px;
font-family: IBM Plex Sans;
font-weight: normal;
border-color: ;
}
.p-Home.TextBox89 {
color: #d5d0d0;
font-size: 16px;
font-family: IBM Plex Sans;
font-weight: normal;
border-color: ;
}
.p-Home.TextBox90 {
color: #ffffff;
font-size: 30px;
font-family: IBM Plex Sans;
font-weight: 600;
margin-top: 20px;
margin-bottom: 20px;
}
.p-Home.TextBox91 {
color: #ffffff;
font-size: 20px;
font-family: IBM Plex Sans;
font-weight: 400;
margin-top: 10px;
margin-bottom: ;
padding-bottom: 20px;
border-bottom-width: 1px;
border-bottom-style: solid;
border-bottom-color: #a59d9d;
}
.p-Home.TextBox95 {
word-wrap: inherit;
color: #e59931;
font-size: 28px;
font-family: IBM Plex Sans;
font-weight: 600;
line-height: ;
padding-right: ;
float: none;
clear: none;
}
.p-Home.TextBox96 {
color: #000000;
font-size: 58px;
font-family: IBM Plex Sans;
font-weight: 600;
margin-top: 10px;
margin-bottom: 15px;
}
.p-Home.TextBox97 {
word-wrap: inherit;
color: #000000ff;
font-size: 21px;
font-family: Plus Jakarta Sans;
font-weight: 400;
line-height: 40px;
padding-right: ;
float: none;
clear: none;
overflow: visible;
padding-bottom: ;
}
.p-Home.Image21 {
width: 95%;
height: 100%;
padding-right: ;
margin-right: ;
}
.p-Home.Image22 {
width: 100%;
height: 100%;
}
.p-Home.Image25 {
width: 95%;
margin-bottom: 13px;
height: ;
}
.p-Home.Image26 {
width: 95%;
height: 50%;
padding-bottom: ;
}
.p-Home.TextBox102 {
font-size: 24px;
font-family: IBM Plex Sans;
font-weight: ;
padding-bottom: 10px;
}
.p-Home.TextBox103 {
font-size: 16px;
font-family: Plus Jakarta Sans;
color: #303030;
font-weight: ;
}
.p-Home.TextBox104 {
font-size: 16px;
font-family: IBM Plex Sans;
}
.p-Home.TextBox105 {
;
}
.p-Home.TextBox98 {
font-size: 36px;
font-family: IBM Plex Sans;
font-weight: 600;
}
.p-Home.TextBox170 {
;
}
.p-Home.TextBox171 {
font-size: 16px;
font-family: IBM Plex Sans;
}
.p-Home.TextBox172 {
font-size: 16px;
font-family: Plus Jakarta Sans;
color: #303030;
font-weight: ;
}
.p-Home.TextBox173 {
font-size: 24px;
font-family: IBM Plex Sans;
font-weight: ;
padding-bottom: 10px;
}
.p-Home.TextBox174 {
;
}
.p-Home.TextBox175 {
font-size: 16px;
font-family: IBM Plex Sans;
}
.p-Home.TextBox176 {
font-size: 16px;
font-family: Plus Jakarta Sans;
color: #303030;
font-weight: ;
}
.p-Home.TextBox177 {
font-size: 24px;
font-family: IBM Plex Sans;
font-weight: ;
padding-bottom: 10px;
}
.p-Home.TextBox99 {
font-size: 36px;
font-family: IBM Plex Sans;
font-weight: 600;
}
.p-Home.Image27 {
align-self: center;
padding-top: 10px;
padding-left: 10px;
padding-right: 20px;
margin-bottom: ;
padding-bottom: ;
width: 50px;
}
.p-Home.TextBox178 {
;
}
.p-Home.TextBox179 {
font-size: 16px;
font-family: IBM Plex Sans;
}
.p-Home.TextBox180 {
font-size: 16px;
font-family: Plus Jakarta Sans;
color: #303030;
font-weight: ;
}
.p-Home.TextBox181 {
font-size: 24px;
font-family: IBM Plex Sans;
font-weight: ;
padding-bottom: 10px;
}
.p-Home.Image32 {
align-self: center;
padding-top: 10px;
padding-left: 10px;
padding-right: 20px;
margin-bottom: ;
padding-bottom: ;
width: 50px;
}
.p-Home.TextBox186 {
font-size: 24px;
font-family: IBM Plex Sans;
font-weight: ;
padding-bottom: 10px;
}
.p-Home.TextBox187 {
font-size: 16px;
font-family: Plus Jakarta Sans;
color: #303030;
font-weight: ;
}
.p-Home.TextBox188 {
font-size: 16px;
font-family: IBM Plex Sans;
}
.p-Home.TextBox189 {
;
}
.p-Home.Image33 {
align-self: center;
padding-top: 10px;
padding-left: 10px;
padding-right: 20px;
margin-bottom: ;
padding-bottom: ;
width: 50px;
}
.p-Home.TextBox190 {
font-size: 24px;
font-family: IBM Plex Sans;
font-weight: ;
padding-bottom: 10px;
}
.p-Home.TextBox191 {
font-size: 16px;
font-family: Plus Jakarta Sans;
color: #303030;
font-weight: ;
}
.p-Home.TextBox192 {
font-size: 16px;
font-family: IBM Plex Sans;
}
.p-Home.TextBox193 {
;
}
.p-Home.TextBox202 {
font-size: 54px;
font-family: IBM Plex Sans;
font-weight: 600;
background-position-y: ;
background-position-x: ;
color: #000000;
}
.p-Home.TextBox203 {
font-size: 25px;
font-family: IBM Plex Sans;
font-weight: 600;
border-color: ;
background-color: ;
color: #ff8116ff;
outline-color: ;
outline-style: ;
word-wrap: normal;
line-height: ;
}
.p-Home.Image36 {
width: 100%;
}
.p-Home.TextBox207 {
font-size: 30px;
font-family: IBM Plex Sans;
color: #303030;
font-weight: 600;
padding-left: ;
}
.p-Home.Image37 {
margin-bottom: 20px;
}
.p-Home.TextBox209 {
font-size: 17px;
font-family: IBM Plex Sans;
color: #000000ff;
font-weight: 400;
}
.p-Home.TextBox210 {
font-size: 24px;
font-family: IBM Plex Sans;
font-weight: 600;
padding-bottom: 10px;
}
.p-Home.Button14 {
color: #fff;
background-color: #000000;
padding-top: 8px;
padding-left: 15px;
padding-bottom: 8px;
padding-right: 15px;
font-size: 16px;
border-radius: 2px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #000000;
cursor: pointer;
user-select: none;
}
.p-Home.Button15 {
color: #fff;
background-color: #000000;
padding-top: 8px;
padding-left: 15px;
padding-bottom: 8px;
padding-right: 15px;
font-size: 16px;
border-radius: 2px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #000000;
cursor: pointer;
user-select: none;
}
.p-Home.TextBox214 {
font-size: 25px;
font-family: IBM Plex Sans;
font-weight: 600;
border-color: ;
background-color: ;
color: #ff8116ff;
outline-color: ;
outline-style: ;
word-wrap: normal;
line-height: ;
}
.p-Home.TextBox215 {
font-size: 54px;
font-family: IBM Plex Sans;
font-weight: 600;
background-position-y: ;
background-position-x: ;
color: #ffffffff;
background-color: #000000;
text-align: left;
}
.p-Home.TextBox217 {
height: ;
width: 95%;
color: #ffffffff;
font-family: IBM Plex Sans;
font-weight: 600;
font-size: 20px;
margin-top: ;
padding-bottom: 20px;
}
.p-Home.TextBox227 {
height: ;
width: 95%;
color: #ffffffff;
font-family: IBM Plex Sans;
font-weight: 600;
font-size: 20px;
margin-top: 20px;
padding-bottom: 20px;
}
.p-Home.TextBox228 {
height: ;
width: 95%;
color: #ffffffff;
font-family: IBM Plex Sans;
font-weight: 600;
font-size: 20px;
margin-top: 20px;
padding-bottom: 20px;
}
.p-Home.TextBox229 {
height: ;
width: 95%;
color: #ffffffff;
font-family: IBM Plex Sans;
font-weight: 600;
font-size: 20px;
margin-top: 20px;
padding-bottom: 20px;
}
.p-Home.TextBox218 {
;
}
.p-Home.TextBox219 {
;
}
.p-Home.TextBox220 {
;
}
.p-Home.TextBox221 {
;
}
.p-Home.TextBox230 {
height: ;
width: 95%;
color: #ffffffff;
font-family: IBM Plex Sans;
font-weight: 600;
font-size: 20px;
margin-top: ;
padding-bottom: 20px;
}
.p-Home.TextBox231 {
height: ;
width: 95%;
color: #ffffffff;
font-family: IBM Plex Sans;
font-weight: 600;
font-size: 20px;
margin-top: 20px;
padding-bottom: 20px;
}
.p-Home.TextBox234 {
height: ;
width: 95%;
color: #ffffffff;
font-family: IBM Plex Sans;
font-weight: 600;
font-size: 20px;
margin-top: 20px;
padding-bottom: 20px;
}
.p-Home.TextBox235 {
height: ;
width: 95%;
color: #ffffffff;
font-family: IBM Plex Sans;
font-weight: 600;
font-size: 20px;
margin-top: 20px;
padding-bottom: 20px;
}
.p-Home.TextBox238 {
font-size: 54px;
font-family: IBM Plex Sans;
font-weight: 600;
background-position-y: ;
background-position-x: ;
color: #ffffffff;
background-color: #000000;
text-align: left;
}
.p-Home.TextBox239 {
font-size: 54px;
font-family: IBM Plex Sans;
font-weight: 600;
background-position-y: ;
background-position-x: ;
color: #df7c52ff;
background-color: #000000;
text-align: left;
}
.p-Home.Image38 {
width: 200px;
cursor: pointer;
color: transparent;
background-color: transparent;
}
.p-Home.UnorderedList8 {
font-family: Plus Jakarta Sans;
}
.p-Home.TextBox252 {
outline-color: ;
color: #ffffffff;
font-family: Plus Jakarta Sans;
font-size: 18px;
}
.p-Home.TextBox253 {
outline-color: ;
color: #ffffffff;
font-family: Plus Jakarta Sans;
font-size: 18px;
}
.p-Home.TextBox254 {
outline-color: ;
color: #ffffffff;
word-wrap: normal;
font-family: Plus Jakarta Sans;
font-weight: 400;
font-size: 18px;
}
.p-Home.TextBox264 {
outline-color: ;
color: #ffffffff;
word-wrap: normal;
font-family: Plus Jakarta Sans;
font-weight: 400;
font-size: 18px;
}
.p-Home.TextBox265 {
outline-color: ;
color: #ffffffff;
font-family: Plus Jakarta Sans;
font-size: 18px;
}
.p-Home.TextBox266 {
outline-color: ;
color: #ffffffff;
font-family: Plus Jakarta Sans;
font-size: 18px;
}
.p-Home.TextBox267 {
outline-color: ;
color: #ffffffff;
word-wrap: normal;
font-family: Plus Jakarta Sans;
font-weight: 400;
font-size: 18px;
}
.p-Home.TextBox268 {
outline-color: ;
color: #ffffffff;
font-family: Plus Jakarta Sans;
font-size: 18px;
}
.p-Home.TextBox269 {
outline-color: ;
color: #ffffffff;
font-family: Plus Jakarta Sans;
font-size: 18px;
}
.p-Home.TextBox270 {
font-size: 16px;
font-family: Plus Jakarta Sans;
color: #b4bedbff;
}
@media screen and (max-width: 991px) {
	.p-Home.Flex7.bpt {
flex-direction: column;
align-content: stretch;
display: flex;
	}
	.p-Home.Flex65.bpt {
justify-content: center;
	}
	.p-Home.Flex47.bpt {
padding-right: 20px;
border-bottom-color: #ece1e1;
	}
	.p-Home.Flex40.bpt {
display: none;
	}
	.p-Home.Flex41.bpt {
display: flex;
	}
	.p-Home.Flex43.bpt {
display: none;
	}
	.p-Home.Flex45.bpt {
width: ;
	}
	.p-Home.Menu7.bpt {
display: flex;
cursor: pointer;
	}
	.p-Home.Flex39.bpt {
flex-direction: column;
column-gap: ;
row-gap: 16px;
margin-top: 20px;
align-items: flex-end;
width: 100px;
max-width: %;
min-width: ;
background-color: ;
border-bottom-color: #e5e2e2;
border-bottom-width: 3px;
border-bottom-style: solid;
padding-top: ;
margin-bottom: ;
padding-bottom: 30px;
border-color: transparent;
	}
	.p-Home.Menu13.bpt {
display: flex;
cursor: pointer;
color: #ffffffff;
	}
	.p-Home.Flex147.bpt {
flex-direction: column;
column-gap: ;
row-gap: 16px;
margin-top: 20px;
align-items: flex-end;
width: 100px;
max-width: %;
min-width: ;
background-color: ;
border-bottom-color: #e5e2e2;
border-bottom-width: 3px;
border-bottom-style: solid;
padding-top: ;
margin-bottom: ;
padding-bottom: 30px;
border-color: transparent;
	}
	.p-Home.TextBox9.bpt {
font-size: 40px;
	}
	.p-Home.Image4.bpt {
width: 500px;
align-self: auto;
background-clip: border-box;
-webkit-background-clip: border-box;
text-align: left;
padding-left: ;
margin-left: ;
margin-right: ;
	}
	.p-Home.Image20.bpt {
cursor: pointer;
width: ;
	}
}
@media screen and (max-width: 478px) {
	.p-Home.Image19.bpt {
width: ;
	}
	.p-Home.Image20.bpt {
width: ;
	}
	.p-Home.Image38.bpt {
width: ;
	}
}